{% extends 'core/base.html' %}

{%block title%}Login{%endblock%}

{%block content%}
    <div class="max-w-md mx-auto mt-10 p-6 bg-white rounded-lg shadow-md">
        <h2 class="text-2xl font-bold mb-6 text-center">Login to Your Account</h2>
        <form method="post" action="{% url 'core:login' %}">
            {% csrf_token %}
            <div class="mb-4">
                <label for="username" class="block text-gray-700 font-semibold mb-2">Username</label>
                <input type="text" id="username" name="username" required class="w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:ring focus:border-blue-300">
            </div>
            <div class="mb-6">
                <label for="password" class="block text-gray-700 font-semibold mb-2">Password</label>
                <input type="password" id="password" name="password" required class="w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:ring focus:border-blue-300">
            </div>
            <button type="submit" class="w-full py-3 bg-red-500 text-white font-semibold rounded hover:bg-red-700">Login</button>
        </form>
    </div>
{%endblock%}